
{% url 'carts:cart' as cart %}
{% url 'index' as index %}

<footer class="bg-dark text-white mt-5 pt-4 pb-1">

  <div class="container text-center text-md left">
    <div class="row text-center text-md-left">
      
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">MK Distribuidora</h5>        
        <p>
         Somos una joven empresa argentina, con sede en Buenos Aires que comercializa lencería e indumentaria por catálogo. Nuestro objetivo es llegar a ustedes ofreciendo el mejor precio. Trabajamos con envió a todo el país.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Productos</h5>
        <p>
          <a href="{{ index }} " class="text-white" style="text-decoration: none;">Home</a>
        </p>
        <p>
          <a href="" class="text-white" style="text-decoration: none;">Store</a>
        </p>
        <p>
          <a href="{{ cart }}" class="text-white" style="text-decoration: none;">Carrito</a>
        </p>
        <p>
          <a href="" class="text-white" style="text-decoration: none;">Ayuda</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>        
        <ul class="navbar-nav d-flex">
            <li class="nav-item">Ubicacion: Buenos aires, Argentina</li>
            <li class="nav-item">Numero Telefonico:</li>
            <li class="nav-item">011-2435-5654</li>
            <li class="nav-item">E-mail: distribuidora_mk@gmail.com</li>
        </ul>
      </div>

    </div>
  </div>
</footer>
